.visualizer-full-window {
  position: fixed;
  inset: 0;
  width: 98%;
  height: 98%;
  background: #181824;
  z-index: 10;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  box-sizing: border-box;
}
